*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180.96deg, #080008 0.92%, #7c0092 180.1%);


}

.header-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 4.20% 3% 0 4%;
    margin-bottom: 120px;
    
}

.navigation{
    display: flex;
    gap: 70px;
    
    
}

.nav-link{
    font-family: 'poppins';
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.button1{
    font-family: 'poppins';
    color: white;
    text-decoration: none;
    background-color: #FA9021;
    border-radius: 6px;
    padding: 10px 28px;
    margin-top: -10px;
}

.button1:hover{
    background: linear-gradient(92.48deg,  #7c0092 020%, #3ccefb 117.25%);
}
.nav-link:hover{
    color: #3ccefb;
    
 }



/*პირველი სექცია*/

.main-container{
    max-width: 1440px;
    padding: 0 8%;
    margin: 0 auto;
}

div span{
    color:#E87D0E;
}

.first-content-p{
    color: #FFF;
    font-size: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 208.5%;
    text-align: center;
    text-decoration: none;
}

.first-content-h1{
    color: #FFF;
    text-align: center;
    font-size: 33px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: 180.5%;
}

.first-content-p2{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 187.5%;
    margin-bottom: 74px;
}

.map{
    margin-bottom: 50px;
}



.social-networks{
    
    display: flex;
    gap: 205px;
    align-items: center;
}

.social-links{
    position: relative;
}

.border-contact{
    position: absolute;
    border-right: 2px solid rgb(200, 83, 0);
    height: 100px;
    margin-left: 350px;
}

.border-contact-2{
    position: absolute;
    border-right: 2px solid rgb(200, 83, 0);
    height: 100px;
    margin-left: 800px;
}


.tel{
    display: flex;
    gap: 20px;  
}

.location{
    display: flex;
    gap: 20px;
}

.loc-img{
    width: 30px;
    height: 30px;
}

.tel-img{
    width: 30px;
    height: 30px;
}

.social-link-p{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 189.5%; /* 30.32px */
}

.number{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
}

.location-p{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.contactm{
    margin-bottom: 150px;
}

/* SECOND SECTION */

.container-2{
    max-width: 1440px;
    margin: 0 auto;
    padding: 55px 0  150px 0;
    background: linear-gradient(92.48deg, #FA8305 6.08%, #81511d 117.25%);
}

.second-section-title{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 189.5%; /* 56.85px */
    text-align: center;
}

.second-section-p{
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 189.5%; /* 24.635px */
    margin-bottom: 110px;
}

.input{
    width: 322px;
    height: 56px;
    border-radius: 9px;
    border: none;
    background:rgb(72, 72, 72)
    
}

.label{
    color: #4F4F4F;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 175.4%; /* 24.556px */
    letter-spacing: -0.3px;
}

.name{
    display: flex;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 195px;
}

.input-email,
.input-message{
    width: 671px;
    height: 56px;
    border-radius: 9px;
    border: none;
    background:rgb(72, 72, 72)
}

.input-message{
    width: 671px;
    height: 232px;
}

.form-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.contact-button{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 204.3%; /* 32.688px */
    text-decoration: none;
    border-radius: 10px;
    background: #4900a3;
    padding: 10px 47px;
    position: absolute;
    margin-top: 600px;
    margin-left: 480px;
    
}

.second-section{
    margin-bottom: 150px;
}



/* third section */

.container-3{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10%;
}
.third-section h2{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    

}



.third-section p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 75px;
    

}

.email{
    max-width: 1170px;
    max-height: 189px;
    padding: 40px 55px;
    background:  #2e2e2e;
    border-radius: 15px;
    margin-bottom: 163px;
    
}

.email-content h2{
    color: #FFFFFF;
    display: flex;
} 

.email-content p{
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    
    
}

.form{
    width: 380px;
    height: 52px;
    border-radius: 8px;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    margin-top: 30px;
    padding-right: 200px;
    

   
}

.form:hover{
    border: 3px solid  rgb(3, 198, 247);
}

.email{
    display: flex;
    justify-content: space-between;
   
}

.button5{
    background-color: rgba(220, 112, 0, 1);
    padding: 9px 20px;
    border-radius: 8px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    position: absolute;
    margin-left: 467px;
    margin-top:  -45px;
}

.button5:hover{
    background-color: #7c0092 ;
}

/* FOOTER */


.container-footer{
    max-width: 1440px;
    padding:4% 7% 0px 10% ;
    height: 376px;
    margin:  0 auto;
}


.logo-footer p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
    

}

.logo-footer{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.logo2{
    width: fit-content;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    
    
}

.about-us{
    display: flex;
    flex-direction: column;
    
}

.about-us h3{
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-bottom: 15px;

}

.footer-link{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-decoration: none;

    
}

.contact{
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-bottom: 0;

}
.contact-us p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.tel{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-decoration: none;

}

.contact-us{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.icon-footer{
    display: flex;
    margin-top: 140px;
    
}

.footer{
    background-color: rgb(0, 0, 0);
}

.line{
    border: 1px solid rgba(210, 210, 210, 1);
    margin-top: -63px;
    
}

.last-p{
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 29px;
    padding-bottom: 29px;
    
}


