*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background: linear-gradient(180.96deg, #080008 0.82%, #7c0092 129.1%);
    


}



.header-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 3% 3% 0 4%;
   
    
}




.logo{
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 25px;
    max-width: 84px;
}



.nav-link{
font-family: 'poppins';
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-decoration: none;
color: white;


}

.nav-link:hover{
   color: #3ccefb;
   
}

.nav-link2{

    font-family: 'poppins';
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-decoration: none;
color: white;
width:  75px;



}

.nav-link2:hover{
    color: #3ccefb;
}

.navigation{
    display: flex;
    align-items: center;
    gap: 92px;
    margin-left: 530px;
    position: absolute;
    margin-top: 65px;
    margin-left: -35px;
    
    
}

#button{
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    background-color:#FA8305 ;
    border-radius: 7px;
    position: absolute;
    margin-top: 65px;
    margin-left: 500px;

}

#button:hover{
    background: linear-gradient(92.48deg,  #7c0092 020%, #3ccefb 117.25%);
}

.nav-link:first-child{
    border-bottom: #E87D0E 4px solid;
    max-width:  30px;
    padding: 6px 13px;
    
}

.nav-link:first-child:hover{
    border-bottom:#3ccefb 4px solid;
}



/*პირველი სექცია*/

.container1{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 10%;
}

.first-section{
    margin-top: 121px;
    
    
}

.button2{
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    background: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
    border-radius: 40px;
    padding: 15px 30px;
    color: white;
    border-radius: 40px;
    max-width:  195px;
    margin-bottom: 170px;
    
}

.content1 h4{
    font-family: 'poppins';
font-size: 20px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
color: #E87D0E;

}

.content1 h2{
    font-family: 'poppins';
font-size: 50px;
font-weight: 700;
line-height: 78px;
letter-spacing: 0em;
text-align: left;
color: white;

}

.content1 p{
    font-family: 'poppins';
font-size: 16px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color: white;
margin-bottom: 40px;

}

.content1{
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}



.content{
    display: flex;
    justify-content: space-between;
    
    
    
}


.image{
    margin-top: -162px;
    display: flex;
    flex-direction: column;
    position: relative;
    
    
}

.cry{
    
    max-width:  101px;
    height: 99px;
    position: absolute;
    margin-top: 170px;
    margin-left: 70px;
}

.unreal{
    max-width:  59px;
    height: 64px;
    position: absolute;
    margin-left: 370px;
    margin-top: 188px;
    
}

.unity{
    max-width:  96px;
    height: 30px;
    position: absolute;
    margin-top: 380px;
    right: 700px;
}


/* მეორე სექცია*/


.container2{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10%;
}

.second-section-heading{
    color: white;
    font-family: 'rubik';
font-size: 31px;
font-weight: 700;
line-height: 58px;
margin-bottom: 57px;



}

.button3{
    font-family: 'rubik';
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    background: #2d2d2d68;
    border-radius: 10px;
    max-height: 57px;
    
}

.heading{
    display: flex;
    justify-content: space-between;
    
}


.game{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.tranding-game-card{
    width: 251px;
    height: 277px;
    object-fit: cover;
    transition: .3s ease;
    border-radius: 20px;
}

.tranding-game-card:hover{
    transform: scale(1.1);
    -ms-transform: scale(5.0);
    box-shadow: 0px 6px 6px 3px rgb(3, 198, 247);
    
}

.game-content{
    display: flex;
    gap: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
    justify-content: center;
    max-width:  240px;
    margin-bottom: 130px;
 
}

.games-gallery{
    display: flex;
    gap: 47px;
}


/* მეასემე სექცია*/

.third-section-heading{
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 187.5%; /* 65.625px */
}

.third-section h2{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 187.5%; /* 56.25px */
    margin-bottom: 20px;
}

.third-section-p{
    color: #FFF;
    font-family: 'poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%; /* 30px */
    margin-bottom: 40px;
}


.spiderman{
    position: relative;
}

.absolute{
    right: 230px;
    margin-top: -68px;
    position: absolute;
    object-fit: cover;
    width: 196px;
    height: 70px;

    
}
  
.third-section{
    margin-bottom: 157px;
}

/* მეოთხე სექცია */

.container4{
    max-width: 1440px;
    margin: 0 auto;
    
}

.fourth-section{
    position: relative;
    margin-bottom: 148px;
    
}

.game-development{
    padding: 83px 125px 93px 125px;
    background-image: url(./assets/images/db4d123c4b390965f684f22d4bf13849\ 1.png);
    height: 100vh;
    background-repeat: no-repeat;
     
}

.game-develpment-title{
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 187.5%; /* 56.25px */
}

.gradient{
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), rgba(0, 0, 0, 0.54);
    height: 882px;
    width: 1440px;
   margin: 0 auto;
    margin-top:-900px ;

}

.game-develpment-p{
    margin-bottom: 100px;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%; /* 30px */
}

.game-card-p{
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 187.5%; /* 30px */
}

.game-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}


.arrow{
    width: fit-content;
}

.development-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
}

.development-gallery-part2{
    display: flex;
    justify-content: center;
    width: 1440px;
    gap: 80px;
    
    
}

/* FIVTH-SECTION*/
.container3{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10%;
}

.recent-projects{
    margin-left: 40px;
}

.recent-projects-title{
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 187.5%; /* 56.25px */
}

.recent-projects-p{
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%; /* 26.25px */
    margin-bottom: 71px;
}

.recent-projects-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    margin-bottom: 72px;
}
.button-3{
    font-family: 'rubik';
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    color: white;
    text-decoration: none;
    padding: 15px 40px;
    background: #21212168;
    border-radius: 10px;
    max-height: 57px;
    margin-bottom: 100PX;
    margin-left: 500px;
}

.button-3:hover{
    box-shadow: 0px 6px 6px 3px rgb(3, 198, 247);
    border: 3px solid rgba(3, 174, 247, 0.379);
}

.projects-card{
    transition: .3s ease;
    border-radius: 20px;
}

.projects-card:hover{
    transform: scale(0.9);
    -ms-transform: scale(1.0);
    box-shadow: 0px 6px 6px 3px rgb(3, 198, 247);
}




/* SIXTH-SECTION */

.sixth-section h2{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    

}



.sixth-section p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 75px;
    

}

.email{
    max-width: 1170px;
    max-height: 189px;
    padding: 40px 55px;
    background:  #2e2e2e;
    border-radius: 15px;
    margin-bottom: 163px;
    
}

.email-content h2{
    color: #FFFFFF;
    display: flex;
} 

.email-content p{
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    
    
}

.form{
    width: 380px;
    height: 52px;
    border-radius: 8px;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    margin-top: 30px;
    padding-right: 200px;
    

   
}

.form:hover{
    border: 3px solid  rgb(3, 198, 247);
}

.email{
    display: flex;
    justify-content: space-between;
   
}

.button5{
    background-color: rgba(220, 112, 0, 1);
    padding: 9px 20px;
    border-radius: 8px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    position: absolute;
    margin-left: 277px;
    margin-top:  -45px;
}


.button3:hover{
    box-shadow: 0px 6px 6px 3px rgb(3, 198, 247);
    border: 3px solid rgba(3, 174, 247, 0.379);
}
  
.button5:hover{
    background-color: #7c0092 ;
}

.button4:hover{
    box-shadow: 0px 6px 6px 3px rgb(3, 198, 247);
    border: 3px solid rgba(3, 174, 247, 0.379);
}

.button2:hover{
    
    background: linear-gradient(92.48deg,  #7c0092 020%, #3ccefb 117.25%);
}

/* ფუთერი*/

.container-footer{
    max-width: 1440px;
    padding:4% 7% 0px 10% ;
    height: 376px;
    margin:  0 auto;
}


.logo-footer p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
    

}

.logo-footer{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.logo2{
    width: fit-content;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    
    
}

.about-us{
    display: flex;
    flex-direction: column;
    
}

.about-us h3{
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-bottom: 15px;

}

.footer-link{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-decoration: none;

    
}

.contact{
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #FFFFFF;

}
.contact-us p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.tel{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-decoration: none;

}

.contact-us{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.icon-footer{
    display: flex;
    margin-top: 140px;
    
}

.footer{
    background-color: rgb(0, 0, 0);
}

.line{
    border: 1px solid rgba(210, 210, 210, 1);
    margin-top: -63px;
    
}

.last-p{
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 29px;
    padding-bottom: 29px;
    
}



@media  screen and  (max-width:1680px){
    .recent-projects-gallery{
        display: flex;
        flex-wrap: wrap;
        gap: 17px;
        margin-bottom: 72px;
    }

   

    .absolute{
        right: 320px;
        margin-top: -68px;
        position: absolute;
        object-fit: cover;
        width: 196px;
        height: 70px;
    
        
    }

    .container3{
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 8%;
    }
}


 @media  screen and  (max-width:1922px){
    .recent-projects-gallery{
        display: flex;
        flex-wrap: wrap;
        gap: 17px;
        margin-bottom: 72px;
    }

   

    .absolute{
        right: 320px;
        margin-top: -68px;
        position: absolute;
        object-fit: cover;
        width: 196px;
        height: 70px;
    
        
    }

    .container3{
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 5%;
    }
} 
